# 2일차 - 파이썬의 다양한 데이터형
1. 아나콘다 설치와 주피터랩 실행
2. 파이썬의 다양한 데이터형

In [1]:
print("Hello Jupyter Lab.")

Hello Jupyter Lab.

## 리스트
리스트 생성

In [2]:
a = [1,2,3,4,5,6]
b = ['a', 'b', 'c', 'd', 'e']
a

[1, 2, 3, 4, 5, 6]

In [3]:
b

['a', 'b', 'c', 'd', 'e']

인덱싱 수행하기

In [4]:
a[0]

1

In [5]:
a[-3]

4

In [6]:
b[2:6]

['c', 'd', 'e']

in 문법과 index를 활용한 데이터 확인

In [7]:
'a' in a

False

In [8]:
'a' in b

True

In [9]:
b.index('a')

0

In [10]:
b.index('c')

2

리스트에 데이터 입력

In [11]:
# 데이터 교체
a[3] = 1004
a

[1, 2, 3, 1004, 5, 6]

In [12]:
a.append(7) # 제일 뒤에 데이터 추가
a

[1, 2, 3, 1004, 5, 6, 7]

In [13]:
a + [8,9,10] # 리턴값에만 리스트가 추가된다.

[1, 2, 3, 1004, 5, 6, 7, 8, 9, 10]

In [14]:
a = a + [8,9,10] # 데이터를 영구히 추가
a

[1, 2, 3, 1004, 5, 6, 7, 8, 9, 10]

In [15]:
a.extend([11,12,13]) # 데이터를 영구히 추가
a

[1, 2, 3, 1004, 5, 6, 7, 8, 9, 10, 11, 12, 13]

문자열 쪼개기

split을 사용하면 다수의 문자열로 구성된 리스트를 생성할 수 있다.

In [16]:
str0 = "This is sparta."
str_list = str0.split() # split(',') 라고 입력하면 ,를 기준으로 나눌 수 있다.
str_list

['This', 'is', 'sparta.']

리스트에서 특정 요소 카운트

In [17]:
str_list.count('is')

1

len을 사용하면 길이를 구할 수 있다.

In [18]:
len(str_list)

3

## 리스트(list) 연습문제
1. 정수 1, 2, 3과 문자열 ‘string’을 포함하는 리스트를 생성하고 다음 내용을 진행하라.
  - 생성한 리스트에 ‘a’, ‘b’, ’c’, 1, 2, 3 원소를 추가하라.
  - 리스트의 1~3 위치를 조회하라.
  - ‘string’의 위치를 파악하라.
  - 리스트에 1의 개수를 파악하라.

In [19]:
list0 = [1,2,3,'string']

list0.extend(['a', 'b', 'c', 1, 2, 3])
print("list0 데이터 확인:", list0)
print('리스트의 1~3의 위치:', list0[1:4])
print('string의 위치:', list0.index('string'))
print('1의 개수:', list0.count(1))

list0 데이터 확인: [1, 2, 3, 'string', 'a', 'b', 'c', 1, 2, 3]
리스트의 1~3의 위치: [2, 3, 'string']
string의 위치: 3
1의 개수: 2

2. "I love you, John!”이라는 문자열을 생성하고 다음을 구현하라.
  - 위 문자열을 공백을 기준으로 나누어 배열 a에 저장하라.
  - John!이 들어있는 배열은 a의 몇 번째 배열에 저장되어 있는가.
  - 배열 a의 길이를 구하라.

In [20]:
str0 = "I love you, John!"
a = str0.split()

print('a의 배열:', a)
print('John!의 위치:', a.index('John!'))
print('a의 개수:', len(a))

a의 배열: ['I', 'love', 'you,', 'John!']
John!의 위치: 3
a의 개수: 4

## Set
set은 중복을 제거하는 속성을 가진 집합이다.

In [21]:
market = {'beef', 'pork', 'lamb', 'beef', 'pork', 'lamb', 'beef', 'pork', 'lamb',}
market

{'beef', 'lamb', 'pork'}

In [22]:
'beef' in market

True

In [23]:
'perl' in market

False

set을 사용해 집합 연산을 수행해보자.

In [24]:
a = set('1234567') # a 집합
b = set('4567890')

# a와 b의 차집합
print('a - b:', a - b)

# a와 b의 합집합
print('a | b:', a | b)

# a와 b 교집합
print('a & b:', a & b)

# a와 b 합집합에서 교집합을 제외한 집합
print('a ^ b:', a ^ b)

a - b: {'3', '2', '1'}
a | b: {'7', '8', '0', '6', '2', '5', '1', '9', '3', '4'}
a & b: {'7', '4', '6', '5'}
a ^ b: {'8', '0', '2', '1', '9', '3'}

## 세트(set) 연습문제
1. 오른쪽 그림과 같은 집합을 생성하고 다음 물음에 답하라.
  - 집합 A, B, C를 각각 선언하라.
  - 집합 A와 B의 합집합을 구하라.
  - 집합 A와 C의 차집합을 구하라.
  - 집합 A와 B, C의 교집합을 구하라.

In [25]:
#  <img src='https://cdn.pixabay.com/photo/2018/05/13/16/57/dog-3397110__480.jpg'>

# A, B, C 선언
A = set('aabbcadhhefgg')
B = set('hdhefikkmmllo')
C = set('ggefijjppnn')

# A와 B의 합집합
print('A | B:', A | B)
# A와 C의 차집합
print('A - C:', A - C)
# A, B, C의 교집합
print('A&B&C:', A&B&C)

A | B: {'c', 'm', 'b', 'f', 'a', 'k', 'i', 'g', 'o', 'e', 'h', 'd', 'l'}
A - C: {'c', 'b', 'a', 'h', 'd'}
A&B&C: {'e', 'f'}

2. 과일에 대한 데이터를 다음과 같이 입력했을 때 중복된 값이 제외된 상태로 출력되도록 변수를 선언하고 출력하십시오.
  - 입력 : melon banana strawberry melon banana blueberry banana strawberry
  - 출력 : {'strawberry', 'blueberry', 'melon', 'banana'}

In [26]:
fruits = input('과일 이름을 띄어쓰기로 구분해서 입력해주세요. ')
fruit_set = set(fruits.split())
print("중복이 제거된 과일들:", fruit_set)

과일 이름을 띄어쓰기로 구분해서 입력해주세요.  melon banana strawberry melon banana blueberry banana strawberry

중복이 제거된 과일들: {'banana', 'blueberry', 'strawberry', 'melon'}

## 딕셔너리
딕셔너리는 키와 밸류로 이루어진 데이터 쌍을 여럿 포함한 데이터형이다.

In [27]:
kim = {'영어': 80, '수학': 90}
kim

{'영어': 80, '수학': 90}

In [28]:
choi = {'영어': 70, '국어': 100}
choi

{'영어': 70, '국어': 100}

In [35]:
# 딕셔너리 결합
score = {"김영수": kim,
        "최희수": choi}
score

{'김영수': {'영어': 80, '수학': 100, '국어': 100}, '최희수': {'영어': 70, '국어': 100}}

In [36]:
score['김영수']['영어'] # 데이터 조회

80

In [37]:
score['김영수']['국어'] = 100 # 데이터 입력
score['김영수']

{'영어': 80, '수학': 100, '국어': 100}

In [38]:
score['김영수']['수학'] = 100 # 수정
score['김영수']

{'영어': 80, '수학': 100, '국어': 100}

In [39]:
score.keys() # 키 목록 조회

dict_keys(['김영수', '최희수'])

In [40]:
score.values() # 밸류 목록 조회

dict_values([{'영어': 80, '수학': 100, '국어': 100}, {'영어': 70, '국어': 100}])

## dict 연습 문제
다음 표를 토대로 dict b를 만들고 다음을 구현하라.
1. dict b에서 name 데이터를 찾으라.
2. dict b에서 birth 데이터를 101010으로 바꿔라.
3. dict b에 key가 city이고 value가 Seoul인 데이터를 추가하라.

In [42]:
b = {
    "name": "John",
    "phone": "010123455432",
    "email": "test@test.com",
    "birth": 111111
}

print("이름:", b['name'])
b['birth'] = 101010
print("생일:", b['birth'])
b['city'] = 'seoul'
print("도시:", b['city'])

이름: John
생일: 101010
도시: seoul

## 딕셔너리를 활용한 IP 변환 프로그램 작성

도메인이나 IP를 입력하면 ip-api.com 로 접속해서 정보를 정리해주는 프로그램을 구성해보자.

In [43]:
# 웹 요청을 수행하는 라이브러를 설치해보자.
!pip install requests

Requirement already satisfied: requests in c:\users\isc03\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\isc03\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\isc03\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\isc03\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\isc03\anaconda3\lib\site-packages (from requests) (2.0.4)

In [48]:
# http://ip-api.com/json/24.48.0.1
import requests # 웹 요청을 수행하는 라이브러리
import json     # json을 dict으로 변환하는 라이브러리

ip = input("도메인이나 IP를 입력해주세요. ")
res = requests.get(f'http://ip-api.com/json/{ip}') # Get 요청 수행
geo_data = json.loads(res.text) # 바디 데이터를 json에서 dict으로 변경
# print(type(geo_data)) # 데이터 타입 확인

#geo_data # 데이터 확인
print(f'''
ip: {geo_data["query"]}
국가: {geo_data["country"]}
도시: {geo_data["city"]}
경도: {geo_data["lon"]}
위도: {geo_data["lat"]}
''')

도메인이나 IP를 입력해주세요.  naver.com

ip: 223.130.195.95
국가: South Korea
도시: Seongnam-si
경도: 127.119
위도: 37.3827