# 클러스터 알고리즘

## iris 데이터셋 불러오기

In [3]:
from sklearn import datasets
from sklearn.model_selection import train_test_split

iris = datasets.load_iris()
iris_x = iris.data
iris_y = iris.target

train_x, test_x, train_y, test_y = train_test_split(iris_x, iris_y, test_size=0.2, random_state=0)

print(train_x.shape)
print(test_x.shape)
print(train_y.shape)
print(test_y.shape)

(120, 4)
(30, 4)
(120,)
(30,)

In [4]:
from sklearn.cluster import KMeans
import pandas as pd

km = KMeans(n_clusters=3, random_state=0)
km.fit(train_x) # 비지도 학습 알고리즘은 y가 없다.
pred_y = km.predict(test_x)
km_result = pd.DataFrame([pred_y, test_y], index=['predict', 'true'])
km_result

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
predict,2,2,1,0,1,0,1,2,2,2,...,2,2,1,1,2,1,1,2,2,1
true,2,1,0,2,0,2,0,1,1,1,...,2,1,0,0,2,0,0,1,1,0

In [12]:
se0 = (km_result.loc['predict'] == km_result.loc['true'])
se0.value_counts()

False    27
True      3
dtype: int64