# Pandas IO 도구들

In [2]:
import pandas as pd
import numpy as np

## CSV 파일 입출력
csv 가져오기

In [3]:
csv_df = pd.read_csv('test.csv')
csv_df

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [4]:
csv_df.to_csv('output.csv')

## 엑셀 파일 입출력
데이터 프레임을 excel 데이터로 저장하기

In [6]:
!pip install xlwt # xls로 입출력할 떄 필요한 라이브러리 설치

Collecting xlwt
  Using cached xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

In [7]:
# a.xls: 파일시스템, 바이너리로 구성된 시스템
# a.xlsx: xml 파일이 zip으로 압축된 형식을 지님
csv_df.to_excel('a.xlsx')
csv_df.to_excel('a.xls')

C:\Users\isc03\AppData\Local\Temp\ipykernel_20924\124954584.py:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  csv_df.to_excel('a.xls')

In [12]:
xlsx_df = pd.read_excel('a.xlsx', sheet_name='Sheet1')
xlsx_df

   Unnamed: 0 col1 col2  col3
0           0    a    b     1
1           1    a    b     2
2           2    c    d     3

In [10]:
xls_df = pd.read_excel('a.xls')
xls_df

   Unnamed: 0 col1 col2  col3
0           0    a    b     1
1           1    a    b     2
2           2    c    d     3

## HTML 파일에서 데이터 입출력

In [18]:
naver_finance_url = "https://finance.naver.com/"
html_dfs = pd.read_html(naver_finance_url, encoding='euc-kr')
print("TOP 종목")
html_dfs[0]

TOP 종목

                  종목명    현재가      전일대비      등락률
0              베트남개발1    297    하락 124  -29.45%
1    KODEX 200선물인버스2X   3675     상승 70   +1.94%
2               에이프로젠    992     상승 69   +7.48%
3              씨케이에이치    254     하락 24   -8.63%
4   KODEX 코스닥150선물인버스   5670    상승 125   +2.25%
5          KODEX 레버리지  12335    하락 260   -2.06%
6    KODEX 코스닥150레버리지   6210    하락 285   -4.39%
7           KODEX 인버스   5315     상승 45   +0.85%
8               이엔플러스   4920  상승 1,050  +27.13%
9               조광ILI   1385    상승 110   +8.63%
10          이스트아시아홀딩스    213      하락 2   -0.93%
11               한신기계   7510  상승 1,460  +24.13%
12              스킨앤스킨    269     상승 62  +29.95%
13               EDGC   2305    상승 115   +5.25%
14             글로벌에스엠    870     상승 37   +4.44%

In [20]:
# table의 개수 
len(html_dfs)

12

In [21]:
html_dfs[0].to_html('naver_finance.html')

## mysql 데이터베이스

GCP에 mysql 서비스를 오픈해두겠다. 파이썬 라이브러리를 사용해 34.123.229.9:3306포트로 접속하면 된다.
```bash
sudo -i
apt update
apt install docker.io -y
docker run --name some-mysql -e MYSQL_ROOT_PASSWORD=test1234 -d mysql:5.7
```

In [23]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [25]:
import pymysql

conn = pymysql.connect(
    host='34.123.229.9', 
    user='root', 
    password='test1234',
    db='mysql', 
    charset='utf8'
)
sql = 'select * from user'

sql_df = pd.read_sql_query(sql, conn)
sql_df

OperationalError: (2003, "Can't connect to MySQL server on '34.123.229.9' ([WinError 10061] 대상 컴퓨터에서 연결을 거부했으므로 연결하지 못했습니다)")